.navbar-brand {
  margin-left: 50px;
}

.nav-link {
  margin-left: 140px;
}

.btn-admin {
  width: 50px;
  margin: 0 20px;
}

@media screen and (max-width: 991px) {
  .btn-admin {
    margin: 5px 0;
  }
}
